body {
    background-color: #243D52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fotopessoal {
    border-radius: 100px;
    z-index: 2;
}

h1 {
    color: white;
    font-weight: 600;
}

h2 {
    color: white;
    margin: 10px 50px 10px 50px;
}

p {
    color: white;
    margin: 10px 50px 10px 50px;
}


.container {
    background-color: #00a9a5;
    border-radius: 5px;
    padding: 15px;

}

.foto {
    padding: 45px;
}

.description {
    text-align: justify;
    color: white;
    z-index: 1;
}




